<div class="modal fade" id="monthSelectorModal" tabindex="-1" aria-labelledby="monthSelectorModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <p class="font-weight-bold mb-1">Selecciona una fecha</p>

            <div class="datepicker-container">
                <nav id="navYear">
                    <div id="prevYear" class="datapicker-nav-action">
                        <svg><path d="M 17,12 l -5,5 l 5,5"></path></svg>
                    </div>
                    <div id="yearSelected" class="datapicker-nav-year">
                    </div>
                    <div id="nextYear" class="datapicker-nav-action">
                        <svg><path d="M 14,12 l 5,5 l -5,5"></path></svg>
                    </div>
                </nav>
            
                <nav id="navYears" class="hidden">
                    <div id="prevDecadeBtn" class="datapicker-nav-action">
                        <svg><path d="M 17,12 l -5,5 l 5,5"></path></svg>
                    </div>
                    <div id="yearsRange" class="datapicker-nav-years-range">
                    </div>
                    <div id="nextDecadeBtn" class="datapicker-nav-action">
                        <svg><path d="M 14,12 l 5,5 l -5,5"></path></svg>
                    </div>
                </nav>
    
                <div>
                    <div id="monthsContainer" class="elements-container"></div>
                    <div id="yearsContainer" class="elements-container hidden"></div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>