<nav class="navbar navbar-light bg-white py-2" style="box-shadow: 0 5px 6px -7px rgba(0,0,0,.6), 0 2px 4px -5px rgba(0,0,0,.06)">
    <div class="container-sm align-items-center">
      <span class="navbar-brand d-flex" href="#">
        <img src="images/app/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        <div class="d-flex align-items-center">
          <span class="font-weight-bold mr-1">Balance</span>
          <%- include('monthSelector/monthSelector') %>
        </div>
      </span>

      <div class="dropdown">
        <button class="d-flex align-items-center justify-content-center rounded-circle p-1"  style="border: none; outline:none; height: 35px; width: 35px;background-color: rgb(202, 202, 202);"
         type="button" id="userDropdown" data-toggle="dropdown" aria-label="usuario" aria-expanded="false">
            <img src="images/icons/user.svg" alt="" width="24" height="24" title="">
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <li>
            <a class="dropdown-item d-flex align-items-center" href="/logout">
              <img class="mr-2" src="images/icons/log-out.svg" alt="" width="16" height="16" title="">
              <span>Cerrar Sesión</span>
            </a>
        </li>
        </ul>
      </div>
    </div>
  </nav>