<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="css/custom.min.css">

  <title>Realtime like app</title>
</head>
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 border shadow-sm p-3 mb-5 bg-white rounded">
        <form action="/signup" method="post">
            <div class="mb-3" >
                <label class="form-label" for="username">Usuario</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <img src="images/icons/user.svg" alt="" width="24" height="24" >
                  </span>
                  <input class="form-control" type="text" name="username"/>
                </div>
                
            </div>
            <div class="mb-3" >
                <label class="form-label" for="password">Contraseña</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <img src="images/icons/key.svg" alt="" width="24" height="24" >
                  </span>
                  <input class="form-control" type="password" name="password"/>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" >Confirmar</button>
            </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>

  <script>
  </script>
</body>
</html>