<div id="monthSelector" class="d-flex align-items-center pointer">
    <span id="monthDiv" class="text-capitalize font-weight-bold mr-1"></span>
    <span id="yearDiv" class="font-weight-bold mr-1"></span>
    <img src="images/icons/calendar.svg" alt="" width="20" height="20" title="seleccionar fecha">
</div>