<div class="d-flex flex-wrap">
    <div id="monthsChartDiv" class="flexboxCharts shadow-sm bg-white rounded p-3 m-2 flex-grow-1 flex-shrink-1">
        <p class="font-weight-bold mb-3">Balance anual</p>
        <canvas id="monthsChart"></canvas>
        <div id="monthsChartDivLegend" class="d-flex flex-wrap align-items-center justify-content-center mt-3"></div>
    </div>

    <div id="categoryChartDiv" class="flexboxCharts shadow-sm bg-white rounded p-3 m-2 flex-grow-1 flex-shrink-1">
        <p class="font-weight-bold mb-3">Gastos por categoria</p>
        <canvas id="categroyChartPie"></canvas>
        <div id="categroyChartPieLegend" class="d-flex flex-wrap align-items-center justify-content-center mt-3"></div>
    </div>
</div>