<div id="noMovesDiv" class="d-flex flex-column align-items-center">
    <span class="my-2">
        No has realizado ningún movimento este mes
    </span>
    <img src="images/icons/no_moves.svg" style="width: 75%;">
</div>